html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* body */

body {
    background-image: url("../images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}

.container-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
}

/* header */

.container-header {
    display: flex;
    background-color: #5ce1e613;
    color: white;
    justify-content: space-between;
    order: 1;
    grid-column: span 3;
    flex-direction: column;
    margin: 1em;
    margin-bottom: auto;
}

.container-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-direction: column;
}

.container-ul li {
    display: inline;
    flex-direction: column;
    color: white;
    list-style-type: none;
    font-size: 1em;
    margin-right: 1.5em;
}

.container-ul a {
    text-decoration: none;
    color: white;
    font-family: "Dosis", sans-serif;
}

.container-ul a:hover {
    color: rgb(2, 1, 52);
    background-color: white;
    border-radius: 5px;
    padding: 0.2em;
    transition: 0.5s;
}

/* Home class feature serve as highlighting the current page*/
#home-logged {
    font-weight: bold;
    color: #5ce1e6;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    padding-top: 0.45em;
}

#home a {
    font-weight: bold;
    color: #5ce1e6;
}

#home a:hover {
    background-color: #1f4a4c;
    border-radius: 5px;
    padding: 0.2em;
    transition: 0.5s;
}

/* middle */

.middle {
    display: flex;
    background-color: transparent;
    color: white;
    order: 2;
    flex-direction: column;
    grid-column: span 2;
    margin: 1em;
}

#logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#logo img {
    width: 200px;
    height: 125px;
}

.divFigcaption {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    justify-content: right;
    align-items: right;
    font-family: "Nanum Gothic Coding", monospace;
    color: #5CE1E6;
}

/* aside */

.aside {
    display: flex;
    justify-content: space-between;
    order: 3;
    grid-column: span 1;
    margin: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 3em;
}

.button {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: solid 1px;
    background-color: #5ce1e627;
    border-color: #5ce1e62f;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 3.9em;
    margin-right: 2em;
    margin-left: 0;
}

.button:hover,
#button_text:hover {
    color: rgb(2, 1, 52);
    background-color: #5ce1e660;
    border-radius: 10px;
    padding: 0.2em;
    transition: 0.5s;
    border-color: #5CE1E6;
}

#button_text {
    display: inline-flex;
    align-items: center;
    color: #5CE1E6;
    height: 100%;
    padding-left: 0.25em;
    
}

#button_icon {
    font-size: 1.2em;
    color: #00f0f8;
    padding: 0.1em;
    display: inline-flex;
}

.aside #user {
    display: inline-flex;
    align-items: center;
    color: #5CE1E6;
    height: 100%;
    padding-left: 0.25em;
    font-family: "Dosis", sans-serif;
    margin-top: -1px;
    margin-left: -2.5em;
}

/* footer */

.footer {
    display: flex;
    background-color: #5ce1e613;
    color: white;
    justify-content: space-between;
    order: 4;
    flex-direction: column;
    grid-column: span 3;
    margin: 1em;
    font-size: 1em;
}

.footer p {
    font-family: "Nanum Gothic Coding", monospace;
    color: #bcdbdd;
    padding-top: 1em;
    font-size: 0.5em;
    text-align: center;
    margin-top: 0;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 0.1em;
    flex-direction: column;
}

.footer ul li {
    display: inline;
    flex-direction: row;
    color: white;
    list-style-type: none;
    font-size: 1em;
    margin-right: 1.5em;
}

.footer ul a {
    text-decoration: none;
    color: white;
    font-family: "Dosis", sans-serif;
    display: inline-flex;
}

.footer ul a:hover {
    color: rgb(2, 1, 52);
    background-color: white;
    border-radius: 5px;
    padding: 0.2em;
    transition: 0.5s;
}
